body {
    background: #EFEFEF;
    color: #000;
    font-family: "Star Jedi";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
nav {
    background: rgba(153, 153, 153, 0.5);
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 10px 10px -6px #999999;
    margin-bottom: 100px;
}
main {
    margin: 0;
}
.logo{
    width: 40px;
    height: 30px;
    text-align: center;
    margin-left:20px;
}
.menuTop {
    display: flex;
    list-style: none;
    height: 40px;
    justify-content: space-between;
    margin-right: 15px;
    align-items: center;
}
.menuTop-but {
    display: flex;
}
.menuTop-but a {
    text-decoration: none;
    padding: 18px;
    font-weight: bold;
    font-size: 14px;
    color: #FFF;
}
.active {
    color: #000000;
}
.menuTop-but a:hover {
    color: #000000;
    background-color: #ffffff;
}

.home-module {
    background-image: url("../img/img-2.jpeg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}
.header__title{
    top: 200px;
    right: 50px;
    position: absolute;
    font-size: 60px;
    color: #000000;
}
h2{
    top: 300px;
    right: 50px;
    position: absolute;
    font-size: 50px;
    color: #292423
}

/*sobremi*/
.contenedo-sobremi {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.item {
    justify-content: space-between;
    text-align: center;
    padding: 30px 15px;
    width: 20%;
    margin: 0 10px 100px 20px;
}
.img-profile {
    max-width: 100%;
    float: left;
}
.img-profile:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .img-profile {
        border-radius: 5%;}
    h2{
        top: 400px;
        right: 50px;
    }
}
.img-link {
    width: 55px;
    max-width: 100%;
    }
@media only screen and (max-width: 480px) {
    .contenedo-sobremi,
    .item {
        width: 100%;
    }
}

/*contacto*/
